

.Article-Tool a {display:inline-block;zoom:1;*display:inline;}
/* 内容 */

.Article-Tool{ position:relative; top:-1px; text-align:right; padding:8px; vertical-align:middle; height:15px; }
.Article-Tool a{width:16px;height:16px;line-height:16px;background: url(../images/v9/icon.png) no-repeat; margin-left:6px;}
.Article-Tool a:hover{text-decoration: none}
.Article-Tool a.t,.Article-Tool a.t6{background-position: left -336px; width:auto; padding-left:16px; color:#8896b1}
.Article-Tool a.t1{background-position: left -115px;}
.Article-Tool a.t2{background-position: left -159px;}
.Article-Tool a.t3{background-position: left -205px;}
.Article-Tool a.t4{background-position: left -250px;}
.Article-Tool a.t5{background-position: left -294px;}
.Article-Tool a.t6{background-position: left -421px;padding-left:18px;}
/* 分页 */
#pages { padding:14px 0 10px; font-family:宋体 }
#pages a { display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px}
#pages a.a1 { background:url(../images/admin_img/pages.png) no-repeat 0 5px; width:56px; padding:0 }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none }
#pages span { display:inline-block; height:22px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center;padding:0 10px}
.page .noPage { display:inline-block; width:56px; height:22px; line-height:22px; background:url(../img/icu/titleBg.png) repeat-x 0 -55px ; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }


/* 评论-form */
.comment-form{border:1px solid #c3d4e7; padding:10px 20px; margin-bottom:10px}
.comment-form h5{ height:22px; padding-bottom:5px;border-bottom:1px solid #C3D4E7;}
.comment-form strong{background: url(../images/icon/user_comment.png) no-repeat; padding-left:21px; float:left}
.yzm{display:none;position:absolute; background:url(../images/admin_img/login_ts140x89.gif) no-repeat; width:140px; height:89px;text-align:center; font-size:12px;}
	.yzm a:link,.yzm a:visited{color:#036;text-decoration:none;}
	.yzm a:hover{ color:#C30;}
	.yzm img{ cursor:pointer; margin:0px auto; width:130px; height:50px; margin-top:4px; border:1px solid #fff; margin-bottom:1px;}

.comment-form .posn{ padding:10px 0}
.comment-title{ text-align:center; padding:5px 0 10px}
.comment-title a:hover{	text-decoration: none;	color: #F60;}
.comment{border:1px solid #C3D4E7;zoom:1;  padding:8px 15px}
.comment h4{ border-bottom:1px solid #C3D4E7; padding-bottom:6px; margin-bottom:15px}

.comment .title{ margin-bottom:5px}
.comment .title span{ position:relative; top:-5px}
.comment .content{ font-size:14px; background:#f6f9fb; border:1px solid #c4d5df; zoom:1; padding:8px 10px; margin:5px 0}
.comment .content span{display:block;}
.comment_button{margin-bottom:15px;}
.comment_button a{padding:5px; border:solid 1px #C3D4E7; }
.comment_button a.on{background:#4C7FB6; color:#fff;border:solid 1px #3E73A9}


